/**
  Змінні для відступів
 */

$offset-1: 8px;
$offset-2: 16px;
$offset-3: 24px;
$offset-4: 32px;
$offset-5: 40px;
$offset-6: 48px;

/**
  Змінні для кольорів
 */
$black: #231f20;
$orange: #f7941f;
$red: #DC0C1C;
$dark: #333;
$light-dark: #F6F6F6;
$border-color: #B0B0B0;
/**
  Змінні для шрифтів
 */

$font-size-1: 12px;
$font-size-2: 16px;
$font-size-3: 18px;
$font-size-4: 24px;
$font-size-5: 36px;

$font-main: 'Montserrat', sans-serif;
