@import '_mixins';
@import '_variables';
@import '_responsive';

body {
  font-family: $font-main;
  color: $dark;
}
.wrapper {
  margin: 0 auto;

}

.header {
  padding-bottom: 61-15.5px;
  background: url(../img/containers.jpg) center no-repeat;
  background-size: cover;
  color: #fff;
  @media (min-width: 980px) {
    padding-bottom: 7px;
  }
  &__wrap{
    padding-top: 45.52px;
    border-bottom: 1px solid #fff;
    @media (min-width: 768px) {
      padding-top: 110px;
    }
    @media (min-width: 980px) {
      padding-top: 57px;
      padding-bottom: 22px;
    }
  }
  &__logo {
    margin-bottom: 10px;
    @media (min-width: 768px) {
      display: none;
    }
    &_dark{
      display: none;
      @media (min-width: 980px) {
        display: block;
        background: #ffffff;
      }
    }
  }
  &__lang {
    margin-bottom: 25px;
    @media (min-width: 768px) {
      display: none;
    }
  }
}

.case-map{
  width: 100%;
  &__wrap{
    border: 1px solid #FFF;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  &__item{
    border-right: 1px solid #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 31px;
    &:last-child{
      border-right: none;
    }
    &_active{
      background: #141414;;
    }
  }
  &__icon{
    padding: 7px;
    font-size: 10px;
    font-weight: 300;
    line-height: 120%;
    width: 35px;
    border: 1px solid #FFF;
    margin-bottom: 20px;
  }
  &__name{
    margin-bottom: 32px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
    padding: 0 11px;
  }
}

.logo {
  @media (min-width: 980px) {
    background: #ffffff;
  }
}

.lang {
  font-size: 14px;
  display: flex;
  gap: 12px;
  @media (min-width: 768px) {
    display: none;
  }
  &__item {
    padding-bottom: 5px;
    &_active {
      border-bottom: 1px solid #fff;
    }
  }
}
.intro{
  padding-top: 31px;
  margin-bottom: 35px;
  &__wrap{
    margin-bottom: 35.08px;
  }
  &__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 30.8px;
    margin-bottom: 25px;
    @media (min-width: 768px) {
      font-size: 36px;
      line-height: 39.6px;
      width: 390px;
    }
  }
  &__subtitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    margin-bottom: 10.12px;
  }
  &__text {
    font-weight: 500;
    @media (min-width: 768px) {
      width: 500px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__button {
    margin-bottom: 15.5px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  @media (min-width: 768px) {
    width: 320px;
    font-size: 16px;
  }
  &_red{
    background-color: $red;
    color: #fff;
  }
  &_white{
    border: 2px solid #FFF;
    color: #fff;
  }
  &_dark{
    border: 2px solid $dark;
    color: $dark;
  }
}

.my-container {
  margin: 0 40px 0;
  @media (min-width: 1180px) {
    margin: 0 auto;
    max-width: 1140px;
  }
}

.closer{
  &__wrap {
    margin-bottom: 75px;
    padding-top: 60.53px;
    @media (min-width: 980px) {
      margin-bottom: 100px;
      display: grid;
      grid-template-columns: 50% 50%;
    }
  }
  &__mini-title{
    @media (min-width: 980px) {
      grid-column-start: span 2;
    }
  }
  &__text{
    @media (min-width: 980px) {
      grid-row-start: span 2;
    }
  }
}

.mini-title{
  color: $red;
  font-size: 12px;
  line-height: 120%;
  margin-bottom: 15px;
  @media (min-width: 768px) {
    font-size: 14px;
  }
}

.title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 25px;
  @media (min-width: 768px) {
    font-size: 32px;
    width: 550px;
  }
  @media (min-width: 980px) {
    font-size: 32px;
    width: 100%;
  }
}

.text {
  font-weight: 400;

  &_red{
    color: $red;
  }
  &_strong {
    font-weight: 600;
  }
  &_s {
    font-size: 12px;
    line-height: 135%;
    @media (min-width: 768px) {
      font-size: 14px;
    }
  }
  &_m {
    font-size: 16px;
    line-height: 130%;
  }
}

.confidence {
  &__wrap{
    margin-bottom: 40px;
    @media (min-width: 980px) {
      display: grid;
      margin-bottom: 100px;
      column-gap: 10%;
      row-gap: 10px;
      grid-template-columns: 40% 50%;
    }
  }
  &__text {
    &_first{
      @media (min-width: 980px) {
        grid-column: 2/3;
        grid-row: 1/2;
      }
    }
  }
  &__button{


  }
}

.terminal {
  background: $light-dark;
  &__wrap {
    padding-top: 38px;
    padding-bottom: 50px;
    @media (min-width: 980px) {
      padding-top: 100px;
      padding-bottom: 99px;
    }
  }
  &__link{
    margin-bottom: 47px;
  }
  &__title{
    @media (min-width: 980px) {
      width: 600px;
    }
  }
  &__desc{
    @media (min-width: 980px) {
      display: grid;
      grid-template-columns: 35% 50%;
      column-gap: 15%;
      margin-bottom: 44px;
    }
  }
  &__text{
    &_gap{
      @media (min-width: 980px) {
        grid-column: 2/3;
        grid-row: 1/3;
      }
    }
  }
}

.link {
  color: $red;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: none;
  @media (min-width: 768px) {
    font-size: 16px;
  }
  &__play{
    padding-left: 30px;
    position: relative;
    &:before{
      content: "";
      display: block;
      position: absolute;
      background: url("../img/play-icon.png");
      width: 20px;
      height: 20px;
      top:-2px;
    }
  }
  &__report{
    padding-left: 30px;
    position: relative;
    &:before{
      content: "";
      display: block;
      position: absolute;
      background: url("../img/report-icon.png") no-repeat center;
      width: 20px;
      height: 20px;
      top:-2px;
    }
  }
}

.stat {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    @media (min-width: 980px) {
      column-gap: 38px;
    }
  }
  &__item {
    border-bottom: $border-color 1px solid;
    margin-bottom: 25px;
  }
  &__number {
    color: $red;
    font-size: 42px;
    line-height: 50.4px;
    margin-bottom: 5px;
  }
  &__desc {
    color: $dark;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    margin-bottom: 15px;
  }
}

.service {
  background: $light-dark;
  &__wrap{
    padding-bottom: 40px;
    @media (min-width: 980px) {
      padding-bottom:99px;
    }
  }
  &__header{
    @media (min-width: 980px) {
      display: grid;
      grid-template-columns: 35% 50%;
      column-gap: 15%;
      margin-bottom: 22px;
    }
  }
  &__text{
    margin-bottom: 45px;
    &_red{
      font-weight: 500;
    }
  }
  &__items{
    @media (min-width: 980px) {
      display: grid;
      column-gap: 5%;
      grid-template-columns: 30% 30% 30%;
    }
  }
  &__item{
    margin-bottom: 25px;
    &:last-child{
      margin-bottom: 35px;
    }
  }
  &__number{
    color: $red;
    font-size: 32px;
    line-height: 38.4px;
    margin-bottom: 5px;
  }
  &__name {
    margin-bottom: 10px;
  }
}

.medium-title{
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
}

.direction {
  &__wrap {
    padding-top: 38px;
    padding-bottom: 40px;
    @media (min-width: 980px) {
      padding-top: 100px;
      padding-bottom: 133px;
    }
  }
  &__desc {
    margin-bottom: 58px;
    @media (min-width: 980px) {
      display: grid;
      column-gap: 15%;
      grid-template-columns: 35% 50%;
    }
  }
  &__text{
    &_grid{
      grid-row: span 2;
    }
  }
  &__countries {
    margin-bottom: 35px;
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 27px;
    }
    @media (min-width: 980px) {
      gap: 40px;
    }
  }
  &__title{
    @media (min-width: 980px) {
      width: 530px;
    }
  }
}

.country {
  background: $light-dark;
  padding-top: 31px;
  padding-left: 40px;
  padding-bottom: 30px;
  margin-bottom: 15px;
  @media(min-width: 768px){
    padding-left: 35px;
  }
  &__flag{
    margin-bottom: 14px;
  }
  &__title{
    margin-bottom: 25px;
  }
  &__link{
    a{
      position: relative;
      &:after{
        content: "";
        display: inline-block;
        position: relative;
        top: 2px;
        left: 15px;
        background: url("../img/arrow_red.png") no-repeat;
        width: 13px;
        height: 13px;
      }
    }
  }
}

.advantage{
  background: $light-dark;
  &__wrap{
    padding-top: 38px;
  }
  &__links{
    margin-bottom: 46px;
  }
  &__link{
    margin-bottom: 18px;
  }
  &__stat{
    padding-bottom: 75px;
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 18px;
      padding-bottom: 50px;
    }
  }
  &__stat-desc{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    margin-bottom: 15px;
  }
}


.condition{
  background: $light-dark;
  &__wrap{
    padding-bottom: 40px;
    @media (min-width: 768px) {
      margin-bottom: 25px;
    }
  }
  &__body{
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__item{
    margin-bottom: 25px;
  }
  &__logo{
    margin-bottom: 10px;
  }
  &__desc{
    font-size: 16px;
    font-weight: 500;
    line-height: 21.6px;
  }
}

.license{
  &__wrap{
    padding-top: 38px;
  }
}

.slider{
  margin-bottom: 75px;
  @media (min-width: 768px) {
    display: none;
  }
}

.gallery{
  display: none;
  @media (min-width: 768px) {
    margin-bottom: 75px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
  }
  &__item{
    img{
      width: 100%;
      height: 45vw;
      object-fit: cover;
    }
  }
}

.attention{
  &__desc{
    margin-bottom: 40px;
  }
}

.case {
  background: $light-dark;
  &__wrap {
    padding-top: 38px;
    padding-bottom: 40px;
  }
  &__title-m{
    margin-bottom: 25px;
  }
  &__points{
    margin-bottom: 25px;
  }
  &__items{
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  &__item{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 17px;
  }
  &__desc{
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    margin-bottom: 0;
  }
  &__img{
    margin-bottom: 25px;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__button{
    margin-bottom: 10px;
  }
}

.task{
  margin-bottom: 35px;
  &__list{
    list-style: decimal;
    padding-left: 16px;
    margin-bottom: 19px;
  }
  &__title{
    font-weight: 500;
    color: $red;
    font-size: 12px;
    line-height: 14.4px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}

.clients{
  &__wrap{
    padding-top: 38px;
    margin-bottom: 75px;
  }
  &__board{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &__item{
    height: 88px;
    background: $light-dark;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.faq{
  &__wrap{
    margin-bottom: 75px;
  }
  &__title{
    padding-bottom: 25px;
    border-bottom: 1px solid $border-color;
  }
}

.accordion{
  &-header {
    background-color: white;
    color: $dark
  }
  &-body{
    padding-left: 0;
    padding-top: 10px;
  }
  &-item{
    border: none;
    border-bottom: 1px solid $border-color;
  }
  &-button{
    color: $dark;
    padding-left: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    @media (min-width: 768px) {
      font-size: 24px;
      font-weight: 600;
    }
    &:after{
      background: url("../img/plus.png");
    }
    &:not(.collapsed){
      background: white;
      color: $dark;
      border: 0;
      &:after{
        background: url("../img/close-icone.png") no-repeat center;
      }
    }
    &:focus{
      border: 0;
      box-shadow: none;
      background-color: white;
      color: $dark;
    }
  }
}

.blog{
  &__wrap{
    padding-bottom: 75px;
    @media (min-width: 768px) {
      padding-bottom: 50px;
    }
  }
  &__button{
    margin-top: 35px;
  }
  &__news{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

.news{
  &__title{
    width: 285px;
  }
  &__item{
    border-top: 1px solid $border-color;
    padding-top: 15px;
    margin-bottom: 25.45px;
  }
  &__sub{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
  }
  &__date{
    color: $border-color;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.4px;
  }
  &__arrow{
    width: 18px;
    height: 18px;
    background: url("../img/arrow.png");
  }
  &__img{
    img{
      width: 100%;
    }
  }
}

.offer{
  background: $light-dark;
  &__wrap{
    padding-top: 38px;
    padding-bottom: 40px;
  }
  &__text{
    font-size: 14px;
    line-height: 21.6px;
    margin-bottom: 34px;
  }
}

.footer{
  background: $dark;
  color: #fff;

  &__head{
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  &__wrap{
    padding-bottom: 50px;
    padding-top: 40px;
    @media (min-width: 768px) {
      padding-bottom: 30px;
    }
  }
  &__logo{
    margin-bottom: 10px;
  }
  &__about{
    width: 135px;
    font-size: 10px;
    line-height: 13.5px;
    margin-bottom: 16px;
  }
  &__certif{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 58px;
    @media (min-width: 768px) {
      padding-top: 55px;
    }
  }
  &__main{
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 45px;
    }
  }
  &__medium-title{
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    margin-bottom: 15px;
  }
  &__service-item{
    padding-left: 0;
    li{
      font-size: 12px;
      font-weight: 400;
      line-height: 15.6px;
    }
  }
  &__address{
    display: flex;
    font-size: 12px;
    line-height: 15.6px;
    gap: 38px;
    margin-bottom: 25px;
  }
  &__tel{
    text-decoration: underline;
  }
  &__email{
    text-decoration: underline;
  }
  span{
    font-weight: 500;
  }
  &__street{
    text-decoration: underline;
  }
  &__end{
    font-size: 10px;
    font-weight: 400;
    line-height: 13.5px;
  }
  &__cobfidence{
    margin-bottom: 7px;
  }
  &__copyright{
    margin-bottom: 7px;
  }
  &__map{
    margin-bottom: 43.73px;
  }
  &__up{
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 16.2px;
  }
}

