@import '_mixins';
@import '_variables';
@import '_responsive';

body {
  font-family: $font-main;
  color: $dark;
}
.wrapper {
  margin: 0 auto;

}

header {
  background: url(../img/containers.jpg);
  color: #fff;
  padding: 46px 20px 61.7-15px;
  .header {
    padding-right: 20px;
    padding-left: 20px;
    min-width: 320px;
    &__logo {
      margin-bottom: 10px;
    }
    &__lang {
      margin-bottom: 25px;
    }
    &__buttons{
      margin-left: 20px;
    }
    &__button {
      margin-bottom: 15.5px;
    }
  }
  .logo {
  }
  .lang {
    font-size: 14px;
    display: flex;
    gap: 12px;
    &__item {
      padding-bottom: 5px;
      &_active {
        border-bottom: 1px solid #fff;
      }
    }
  }
  .intro{
    padding: 31px 20px 0 20px;
    border-top: 1px solid #fff;
    margin-bottom: 35px;
    &__title {
      font-size: 28px;
      font-weight: 700;
      line-height: 30.8px;
    }
    &__subtitle {
      font-size: 16px;
      font-weight: 700;
      line-height: 19.2px;
    }
    &__text {
      font-weight: 500;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  &_red{
    background-color: $red;
    color: #fff;
  }
  &_white{
    border: 2px solid #FFF;
    color: #fff;
  }
}

.my-container {
  margin: 0 40px 0;
}

.closer{

  &__wrap {
    margin-bottom: 75px;
    padding-top: 60.53px;
  }
  &__mini-title {

  }
  &__button {

  }
}

.mini-title{
  color: $red;
  font-size: 12px;
  line-height: 14.4px;
  margin-bottom: 15px;
}

.title {
  font-size: 22px;
  font-weight: 700;
  line-height: 30.8px;
  margin-bottom: 25px;
}

.text {
  font-weight: 400;

  &_red{
    color: $red;
  }
  &_strong {
    font-weight: 600;
  }
  &_s {
    font-size: 12px;
    line-height: 16.2px;
  }
  &_m {
    font-size: 14px;
    line-height: 18.9px;
  }
}

.confidence {
  &__wrap{
    margin-bottom: 40px;
  }
  &__text {

  }
  &__button{


  }
}

.terminal {
  background: $light-dark;
  &__wrap {
    padding-top: 38px;
    padding-bottom: 75px;
  }
  &__link{
    margin-bottom: 47px;
  }
}

.link {
  color: $red;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  text-decoration: none;
  &__play{
    padding-left: 30px;
    position: relative;
    &:before{
      content: "";
      display: block;
      position: absolute;
      background: url("../img/play-icon.png");
      width: 20px;
      height: 20px;
      top:-2px;
    }
  }
  &__report{
    padding-left: 30px;
    position: relative;
    &:before{
      content: "";
      display: block;
      position: absolute;
      background: url("../img/report-icon.png") no-repeat center;
      width: 20px;
      height: 20px;
      top:-2px;
    }
  }
}

.stat {
  &__item {
    border-bottom: $border-color 1px solid;
    margin-bottom: 25px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__number {
    color: $red;
    font-size: 42px;
    line-height: 50.4px;
    margin-bottom: 5px;
  }
  &__desc {
    color: $dark;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    margin-bottom: 15px;
  }
}

.service {
  background: $light-dark;
  &__wrap{
    padding-bottom: 40px;
  }
  &__text{
    margin-bottom: 45px;
    &_red{
      font-weight: 500;
    }
  }
  &__item{
    margin-bottom: 25px;
    &:last-child{
      margin-bottom: 35px;
    }
  }
  &__number{
    color: $red;
    font-size: 32px;
    line-height: 38.4px;
    margin-bottom: 5px;
  }
  &__name {
    color: $dark;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    margin-bottom: 10px;
  }

}

.direction {
  &__wrap {
    padding-top: 38px;
    padding-bottom: 40px;
  }
  &__desc {
    margin-bottom: 58px;
  }
  &__countries {
    margin-bottom: 35px;
  }
}

.country {
  background: $light-dark;
  padding-top: 31px;
  padding-left: 40px;
  padding-bottom: 30px;
  margin-bottom: 15px;
  &__flag{
    margin-bottom: 14px;
  }
  &__title{
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    margin-bottom: 25px;
  }
  &__link{
    a{
      position: relative;
      &:after{
        content: "";
        display: inline-block;
        position: relative;
        top: 2px;
        left: 15px;
        background: url("../img/arrow_red.png") no-repeat;
        width: 13px;
        height: 13px;
      }
    }
  }
}

.advantage{
  background: $light-dark;
  &__wrap{
    padding-top: 38px;
  }
  &__links{
    margin-bottom: 46px;
  }
  &__link{
    margin-bottom: 18px;
  }
  &__stat{
    padding-bottom: 75px;
  }
  &__stat-desc{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    margin-bottom: 15px;
  }
}


.condition{
  background: $light-dark;
  &__wrap{
    padding-bottom: 40px;
  }
  &__item{
    margin-bottom: 25px;
  }
  &__logo{
    margin-bottom: 10px;
  }
  &__desc{
    font-size: 16px;
    font-weight: 500;
    line-height: 21.6px;
  }
}
