<footer class="footer">
  <div class="my-container">
    <div class="footer__wrap">
      <div class="footer__head">
        <div class="footer__intro">
          <div class="footer__logo">
            <img src="../img/white-logo.png" alt="">
          </div>
          <p class="footer__about">
            Ми міжнародна, сертифікована логістична компанія
          </p>
        </div>
        <div class="footer__certif">
          <div class="footer__org">
            <img src="../img/footer/iso.png" alt="">
          </div>
          <div class="footer__org">
            <img src="../img/footer/rzetelna.png" alt="">
          </div>
          <div class="footer__org">
            <img src="../img/footer/dekra.png" alt="">
          </div>
          <div class="footer__org">
            <img src="../img/footer/dmca.png" alt="">
          </div>
        </div>
      </div>
      <div class="footer__main">
        <div class="footer__service">
          <h4 class="footer__medium-title">
            Послуги
          </h4>
          <ul class="footer__service-item">
            <li>Міжнародні перевезення</li>
            <li>Залізничні перевезення</li>
            <li>Мультимодальні перевезення</li>
            <li>Автомобільні перевезення</li>
            <li>Авіаперевезення</li>
            <li>Морські перевезення</li>
            <li>Збірні вантажі</li>
            <li>Небезпечні вантажі</li>
            <li>Негабаритні вантажі</li>
            <li>Проектні перевезення</li>
            <li>Перевезення спецтехніки</li>
            <li>Перевезення сільськогосподарської техніки</li>
            <li>Логістичний термінал</li>
          </ul>
        </div>
        <div class="footer__contacts">
          <div class="footer__medium-title">
            Контакти
          </div>
          <div class="footer__address">
            <div class="footer__office_ua">
              <p class="footer__tel">+38(097) 302 37 50</p>
              <p class="footer__email">
                info@bagat.ua
              </p>
              <span>Офіс в Україні</span><br>
              <div class="footer__street">
                вул. Івасюка 56в. 5462
                вул. Коновальця 6В. 947277
                Київ, Україна
              </div>
            </div>
            <div class="footer__office_pl">
              <p class="footer__tel">+38(097) 302 37 50</p>
              <p class="footer__email">
                info@bagat.pl
              </p>
              <span>Офіс в Польщі</span><br>
              <div class="footer__street">
                вул. Leleks 56в. 5462
                вул. Skoropadskoho 6В. 947277
                Wroclaw, Polska
              </div>
            </div>
          </div>
          <div class="footer__icons">
            <div class="soc-icons">

            </div>
          </div>
        </div>
      </div>
      <div class="footer__end">
        <div class="footer__copyright">
          © 2023 BAGAT All rights reserved
        </div>
        <div class="footer__confidence">
          Політика конфіденційності
        </div>
        <div class="footer__map">
          Мапа сайту
        </div>

      </div>
      <div class="footer__up">
        Вгору
        <img src="../img/footer/arrow_up.png" alt="">
      </div>
    </div>
  </div>
</footer>
