<header>
  <div class="header">
    <div class="logo header__logo">
      <img alt='logo' src='../img/logo.png'>
    </div>
    <div class="lang header__lang">
      <div class="lang__item lang__item_active">
        UA
      </div>
      <div class="lang__item">
        EN
      </div>
    </div>
  </div>
  <div class="intro">
    <h2 class="intro__title">
      Автомобільні перевезення
    </h2>
    <h3 class="intro__subtitle">
      Перевезення вантажів автотранспортом
    </h3>
    <p class="intro__text text text_m">
      Транспортування на вантажних автомобілях - один із найзручніших
      та доступних способів переміщення вантажів на невеликі та середні відстані.
      Тому автоперевезення залишаються стабільно популярними.
      у наших клієнтів.
    </p>
    <p class="intro__text text text_m">
      Компанія BAGAT напрацювала багаторічний досвід організації міжнародних перевезень.
      Ми гарантуємо безпечну доставку великовагових, негабаритних, небезпечних вантажів, що вимагають особливих умов.
    </p>
  </div>
  <div class="header__buttons">
    <div class="header__button button button_red">
      Дізнатись ціну
    </div>
    <div class="header__button button button_white">
      Детальніше про послугу
    </div>
  </div>
</header>
