<header class = header>
  <section class="logo">
    <div class="my-container">
      <div class="header__wrap">
        <div class="header__logo">
          <img alt='logo' src='../svg/logo-dark.svg'>
        </div>
        <div class="header__logo_dark">
          <img alt='logo' src='../img/dark-logo.png'>
        </div>
        <div class="lang header__lang">
          <div class="lang__item lang__item_active">
            UA
          </div>
          <div class="lang__item">
            EN
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="intro">
    <div class="my-container">
      <div class="intro__wrap">
        <h2 class="intro__title">
          Автомобільні перевезення
        </h2>
        <h3 class="intro__subtitle">
          Перевезення вантажів автотранспортом
        </h3>
        <p class="intro__text text text_m">
          Транспортування на вантажних автомобілях - один із найзручніших
          та доступних способів переміщення вантажів на невеликі та середні відстані.
          Тому автоперевезення залишаються стабільно популярними.
          у наших клієнтів.
        </p>
        <p class="intro__text text text_m">
          Компанія BAGAT напрацювала багаторічний досвід організації міжнародних перевезень.
          Ми гарантуємо безпечну доставку великовагових, негабаритних, небезпечних вантажів, що вимагають особливих умов.
        </p>
      </div>
      <div class="intro__buttons">
        <div class="intro__button button button_red">
          Дізнатись ціну
        </div>
        <div class="intro__button button button_white">
          Детальніше про послугу
        </div>
      </div>
    </div>
  </section>
  <section class="case-map">
    <div class="my-container">
      <div class="case-map__wrap">
        <div class="case-map__item case-map__item_active">
          <div class="case-map__icon">
            icon
          </div>
          <div class="case-map__name">
            Автомобільні перевезення
          </div>
        </div>
        <div class="case-map__item">
          <div class="case-map__icon">
            icon
          </div>
          <div class="case-map__name">
            Залізничний транспорт
          </div>
        </div>
        <div class="case-map__item">
          <div class="case-map__icon">
            icon
          </div>
          <div class="case-map__name">
            Проектні вантажі
          </div>
        </div>
        <div class="case-map__item">
          <div class="case-map__icon">
            icon
          </div>
          <div class="case-map__name">
            Збірне вантажо- перевезення
          </div>
        </div>
        <div class="case-map__item">
          <div class="case-map__icon">
            icon
          </div>
          <div class="case-map__name">
            Авіаперевезення
          </div>
        </div>
        <div class="case-map__item">
          <div class="case-map__icon">
            icon
          </div>
          <div class="case-map__name">
            Морські перевезення
          </div>
        </div>
      </div>
    </div>
  </section>

</header>
